<script src="{{ "js/mathjax-config.js" | absURL }}"></script>
<!--
<script>
  window.MathJax = {
      loader: {load: ['[tex]/mhchem']},
      tex: {
          packages: {'[+]': 'mhchem'},
          macros: {
              unit: ['\\,\\textrm{#1}', 1]
          },
      }
  };
</script>
-->
 <!-- Use MathJax 3 for faster loading -->
 <script type="text/javascript" id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
